/* @override 
	http://salonspace.bethanydavey.com/stylesheets/application.css
	http://salon-space.local/stylesheets/application.css
*/

.fieldWithErrors {
  display: inline;
}

body {
	background-color: #69d2e7;
}

.round {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.box {
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#container {
	padding: 15px 15px 10px;
	border: 1px solid #3fcbe7;
	background-color: #fff;
	margin-top: 25px;
	margin-bottom: 18px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#siteid a {
	display: block;
	height: 126px;
	width: 100%;
	outline: none;
	background: url('/images/salonspace.png') no-repeat;
}

#siteid a span {
	display: none;
}



/* @group Navigation */

#navigation {
	margin-top: 2em;
	margin-right: -17px;
	padding: .5em 1em 0;
	background-color: #69d2e7;
	border: 0 none;
	font-size: 1.2em;
	clear: right;
	min-width: 300px;
}

#navigation li {
	border: 0 none;
	margin: 0 .5em;
}



#navigation a {
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#navigation a:hover {
	background-color: #fff;
}

#usernav {
	list-style: none;
	background-color: #eee;
	padding: 9px 1.5em;
	float: right;
}

#usernav li{
	float: left;
	padding-right: 1em;
	margin-right:  1em;
	border-right:  1px solid #999;
}

#usernav li.last {
	border: 0 none;
}

/* @end */

/* @group Forms */

fieldset.buttons {
	border:0 none;
	padding-top: 0;
}

form abbr {
	border: 0 none;
}

form ol {
	list-style-type: none;
	margin:0;
	padding:0;
}

li input {background-color:#fff;border:1px solid #bbb;}
li input:focus {border-color:#666;}
li input {margin:0.5em 0;}
li input {width:300px;padding:5px;}

form.client label {
	display: block;
}

textarea.shallow {
	height: 2.5em;
}

form li label {
	display: inline;
	clear: left;
	float: left;
	width: 190px;
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	color: #333;
}

form button {
	margin-left: 200px;
}

.inline-errors {
	display: inline;
	padding: 0 5px;
}

li.error {
	padding: .2em 0;
	margin-left: -2px;
}

button.ui-datepicker-trigger {
	margin: 5px;
	float: none;
	display: inline;
	border: 0 none;
	padding: 0;
}

/* @end */

/* @group Tables */

td, th {
	padding: 0 .5em;
	height: 18px; /* Actually, min-height */
}

tr:hover td {
	background-color: #ffa;
}


/* @end */


/* @group Timepicker jQuery plugin */

#tpSelectedTime {
	margin-bottom:0;
	border-bottom:1px solid #aaa;
	padding:5px;
	color:#000;
	text-transform:none;
	font-weight:bold;
}

#pickerplug button {
	float:right;
	margin-left: 5px;
}
#pickerplug {
	overflow:hidden;
	display:none;
	position:absolute;
	top:200px;
	left:300px;
	padding:10px;
	margin:0;
	z-index:500;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(250,250,250, 0.9);
}
#pickerplug li {
	display:block;
	float:left;
}
#timepicker {
	border:1px solid #aaa;
	background:#fff;
	margin-left: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#timepicker ul {
	overflow:hidden;
	padding:5px;
}
#timepicker ul li {
	position:relative;
	display:block;
	float:left;
	width:50px;

}
#timepicker ul li h4 {
	width:100%;
	background:transparent;
	color:#000;
text-align:center;
}
#timepicker ul li .slider {
	position:relative;
	left:10px;

/*	background:#FBF9EE url(images/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 50%;
border:1px solid #FCEFA1;*/
}

.selHrs, .selMins {
	width:2.5em;
}
.selHrs {
	margin-left:5px;
}
.dayPeriod {
	display:inline-block;
	width:20px;
}
.slider {
	height:120px;
	float:left;
	margin:10px
}

.demoHeaders {
    margin-top: 2em;
}

#dialog_link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog_link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

/* @end */

#calendar{
	height: 300px;
	border-left: 1px solid #ddd;
}

#calendar td {
	width: 100px;
	height: 75px;
	padding: 10px 10px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd ;
	vertical-align: top;
}

#calendar tr:hover td {
	background-color: inherit;
}

#calendar tr td:hover {
	background-color: #fffade;
}

.daynumber {
	font-size: .8em;
	color: #999;
	display: block;
	position: relative;
	float: left;
	margin: -5px 5px 5px -5px;
}

td.weekend {
	border: none;
}

td.notmonth {
	background-color: #f3f3f3 !important;
}

#calendar td.today {
	border: 2px solid #afa;
	border-bottom-width: 3px;
	border-right-width: 3px;
	background-color: #dfd !important;
}

#calendar tr:hover td.weekend, td.weekend {
	background-color: #fafafa;
}

#calendar thead th {
	text-align: center;
	height: 2em;
}

p.more {
	margin-bottom: 0;
}
