.fieldWithErrors {
  display: inline;
}

body {
	background-color: #f9e3c9;
}

#container {
	padding: 10px 15px;
	border: 1px solid #edd;
	background-color: #fff;
	margin-top: 25px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}