.fieldWithErrors {
  display: inline;
}

body {
	background-color: #69d2e7;
}

#container {
	padding: 15px 15px 10px;
	border: 1px solid #3fcbe7;
	background-color: #fff;
	margin-top: 25px;
	margin-bottom: 18px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#siteid a {
	display: block;
	height: 126px;
	width: 100%;
	outline: none;
	background: url('/images/salonspace.png') no-repeat;
}

#siteid a span {
	display: none;
}

#navigation {
	margin-top: 2em;
	margin-right: -17px;
	padding: .5em 1em 0;
	background-color: #69d2e7;
	border: 0 none;
	font-size: 1.2em;
}

#navigation li {
	border: 0 none;
	margin: 0 .5em;
}



#navigation a {
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#navigation a:hover {
	background-color: #fff;
}

#usernav {
	list-style: none;
	background-color: #eee;
	padding: 9px 1.5em;
	float: right;
}

#usernav li{
	float: left;
	padding-right: 1em;
	margin-right:  1em;
	border-right:  1px solid #999;
}

#usernav li.last {
	border: 0 none;
}

.round {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form.client label {
	display: block;
}

textarea.shallow {
	height: auto;
	width: 300px;
}

form p label {
	display: inline;
	clear: left;
	float: left;
	width: 190px;
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
	color: #333;
}

form button {
	margin-left: 200px;
}